flask>=3.0.0
ytmusicapi>=1.0.0
requests>=2.22
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email-validator
flask
flask-login
flask-sqlalchemy
gunicorn
psycopg2-binary
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email-validator
flask
flask-login
flask-sqlalchemy
gunicorn
psycopg2-binary
yt-dlp
